<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/css/Desktop.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<title >Virussimulationstest</title>
	</head> 
	<body >
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true"
		    role="dialog">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
		                <button type="button" class="close" aria-label="Close" onclick="closeModal()">
		                    <span aria-hidden="true">×</span>
		                </button>
		            </div>
		            <div class="modal-body">
										<iframe id="Itag" frameborder="10" width=1200px height="600px"></iframe>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
		                <button type="button" class="btn btn-primary">Save changes</button>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>

		<div id="main">
			<h1><center>Virussimulationstest</center></h1>
			<center>
			</center>
			<div id="subd">
		   <div>
				<button class="BrowserButton" type="button" onclick="Browser()">
				<p class="textunterbutton">Browser</p></button>
			</div>
			<div>
				<button class="ExplorerButton" type="button" onclick="Hallo('Hallo')">
				<p class="textunterbutton">Explorer</p></button>
			</div>
			<div>
				<button class="EmailButton" type="button" onclick="Email()">
				<p class="textunterbutton">E-mail</p>
				</button>
			</div>
			</div>
		</div>
	
		<script >
			document.getElementById("Itag").hidden = true;
			document.getElementById("main").style.zIndex = -1;
			document.getElementById("subd").style.zIndex = -3;
			function Browser(){
				document.getElementById("Itag").hidden = false;		
				document.getElementById("Itag").style.zIndex = 3    
				document.getElementById("Itag").src="https://www.bing.com/?cc=de"	
    
			}
			function Explorer(){

    
			}
			function Email(){
				document.getElementById("Itag").hidden = false;		
				document.getElementById("Itag").style.zIndex = 3    
				document.getElementById("Itag").src="email.html"	
				openModal();
			}
			function openModal() {
    document.getElementById("backdrop").style.display = "block"
    document.getElementById("exampleModal").style.display = "block"
    document.getElementById("exampleModal").classList.add("show")
	}
	function closeModal() {
	    document.getElementById("backdrop").style.display = "none"
	    document.getElementById("exampleModal").style.display = "none"
	    document.getElementById("exampleModal").classList.remove("show")
	}
	// Get the modal
	var modal = document.getElementById('exampleModal');

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	  if (event.target == modal) {
	    closeModal()
	  }
	}
		</script>
	</body>
</html> 	

