<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/css/Desktop.css">
	<title >Virussimulationstest</title>
	</head> 
	<body >
		<div id="main">
			<h1><center>Virussimulationstest</center></h1>
			<center>
				<iframe id="Itag" frameborder="10" width=1200px height="600px"></iframe>
			</center>
			<div class="subd">
		   <div>
				<button class="BrowserButton" type="button" onclick="Browser()">
				<p class="textunterbutton">Browser</p></button>
			</div>
			<div>
				<button class="ExplorerButton" type="button" onclick="Hallo('Hallo')">
				<p class="textunterbutton">Explorer</p></button>
			</div>
			<div>
				<button class="EmailButton" type="button" onclick="Email()">
				<p class="textunterbutton">E-mail</p>
				</button>
			</div>
			</div>
		</div>
	
		<script >
			document.getElementById("Itag").hidden = true;
			document.getElementById("main").style.zIndex = -1;
			function Browser(){
				document.getElementById("Itag").hidden = false;		
				document.getElementById("Itag").style.zIndex = 3    
				document.getElementById("Itag").src="https://www.bing.com/?cc=de"	
    
			}
			function Explorer(){

    
			}
			function Email(){
				document.getElementById("Itag").hidden = false;		
				document.getElementById("Itag").style.zIndex = 3    
				document.getElementById("Itag").src="email.html"	
			}
		</script>
	</body>
</html> 	

