<!DOCTYPE html>
<html lang="de">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>E-Mail</title>
      <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
      <style>
        a:link {
          text-decoration: none;
          color:black
        }


        table, th, td {
             background-color: #c6ccc9;
             border-collapse: separate;
             border-collapse: collapse;
             border: thin solid; 
        }

        .button {
            border: none;
            background: white;
        }
      </style>
  </head>
  <body style="background-color:#cecdd1;">
    <h3>&#x1F426; Firebird</h3>
    <center><h1>Posteingang</h1></center>
    <hr>
    
    <center>  
      <table>
        <tr>
          <th>Sender</th>
          <th>Betreff</th>
          <th>Datum/Uhrzeit</th>
        </tr>
       
      <tr>
        <td onclick= "change_Iframe('/getmail/pizza')">pizza-bestellen@gmail.com</td>
        <td onclick= "change_Iframe('/getmail/pizza')">Ihre Bestellungen</td>
        <td onclick= "change_Iframe('/getmail/pizza')">08.05.2018 18:05</td>
      </tr>
 
      <tr>
        <td onclick= "change_Iframe('/getmail/oma')">oma@gmail.com</td>
        <td onclick= "change_Iframe('/getmail/oma')">Urlaubsgrüße</td>
        <td onclick= "change_Iframe('/getmail/oma')">03.01.2019 16:40</td>
      </tr>
      <tr>
        <td onclick= "change_Iframe('/getmail/mama')">mama@gmx.de</td>
        <td onclick= "change_Iframe('/getmail/mama')">Frage</td>
        <td onclick= "change_Iframe('/getmail/mama')">23.11.2020 08:00</td>
      </tr>
   
      <tr>
        <td onclick= "change_Iframe('/getmail/papa')">papa@web.de</td>
        <td onclick= "change_Iframe('/getmail/papa')">FW:Anmeldung</td>
        <td onclick= "change_Iframe('/getmail/papa')">31.02.2021 10:05</td>
      </tr>
    
      <tr>
        <td onclick= "change_Iframe('/getmail/instagram')"><b>support@instagram-team.com</b> </td>
        <td onclick= "change_Iframe('/getmail/instagram')"><b>Account Änderungen</b></td>
        <td onclick= "change_Iframe('/getmail/instagram')"><b>08.10.2022 10:05</b></td>
      </tr>
      <tr>
        <td onclick= "change_Iframe('/getmail/gewinner')"><b>gewinn@telekom-team.de</b> </td>
        <td onclick= "change_Iframe('/getmail/gewinner')"><b>Gewonnen</b></td>
        <td onclick= "change_Iframe('/getmail/gewinner')"><b>08.10.2022 10:30</b></td>
    
      </tr>
    </table>
  </center>
  <hr>
  <center>
      <iframe id="ifr" src="/getmail/papa" width="750" height="500" src= pfad></iframe>

  </center>
      <script>
          function change_Iframe(pfad)
          {
              var  pfad;
              var i = document.getElementById("ifr").src = pfad;
          }

      </script>
 
  </body>
</html>