<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css">
      .text {
        color: white;
        font-size: 25px;
        text-align: center;
      }
      .num {
        width: 500px;
      }
    </style>
    <title>Finished</title>
  </head>
  <body style="background-color: #444444">
    <div style="text-align: center">
      <h1 class="schrift"><font color="white" face="Arial">Ende</font></h1>
      <table>
        <tr>
          <td class="text">Cookies</td>
          <td class="text">Viren</td>
          <td class="text">Phishing</td>
        </tr>
        <tr>
          <td><p class="num text" id="cookies">0</p></td>
          <small>noch nicht implementiert</small>
          <td><p class="num text" id="viren">0</p></td>
          <td><p class="num text" id="phishing">0</p></td>
        </tr>
      </table>
      <p class="text" id="insgesamttxt">Du hättest dir insgesamt</p>
      <p class="text" id="Gesamt">0</p>
      <p class="text">Viren eingefangen</p>
    </div>
    <div style="text-align: center;">
    <p>Insgesamt Fehler:</p>
    <p id="Fehler">0</p>
    </div>
    <script>
      var x = sessionStorage.getItem("fehler_count");
      if (x === null) x = 0;
      document.getElementById("Gesamt").innerHTML = x;
      const ff = fetch("/api/results?ID="+sessionStorage.getItem("id"))  //"+sessionStorage.getItem("id")
        .then((val) => val.json())
        .then((data) => {
          console.log(data);
          document.getElementById("cookies").innerHTML = data[sessionStorage.getItem("id")]["cookies"];
          document.getElementById("viren").innerHTML = data[sessionStorage.getItem("id")]["viren"];
          document.getElementById("phishing").innerHTML = data[sessionStorage.getItem("id")]["phishing"];
        });

      document.getElementById("Fehler").innerHTML = x;

        if (x == 0) {
          document.getElementById("insgesamttxt").innerHTML = "Herzlichen Glückwunsch! Du hättest dir";
        }
        
        if (document.getElementById("cookies") = 1) {
            document.getElementById("cookies").innerHTML = "Cookie";
        }
    </script>
  </body>
</html>
