<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
	<title>Wie Viren-anfällig bin ich?</title>
	<style>
		body {
			text-align: center;
			background-color: #444444;
			vertical-align: middle;
		}
		button {
			background-color: lightgreen;
			border: lightgreen;
		}
		p,h1 {
			color: #ffffff;
		}
		div {
			vertical-align: middle;
		}
	</style>
</head>
<body>
	<div>
		<h1>Test starten?</h1>
		<button onclick="start()">Los gehts!</button>
		<p>Das ist ein selbsttest, um zu schauen wie viele Viren du dir einfangen würdest.</p>
	</div>
	<script>
		function start() {
			fetch("http://localhost:500/api/timer/start", {
				method: 'POST'
			}).then((resp) => resp.json())
			.then((data) => console.log(data));
			window.location.href="Desktop.html";
		}
	</script>
</body>
</html>