<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
	<title>Wie Viren-anfällig bin ich?</title>
	<style>
		body {
			text-align: center;
		}
		button {
			background-color: lightgreen;
			border: lightgreen;
		}
	</style>
</head>
<body>
	<div>
		<h1>Test starten?</h1>
		<button onclick="start()">Los gehts!</button>
	</div>
	<script>
		function start() {
			window.location.href="desktop";
		}
	</script>
</body>
</html>