<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/users" method="POST">
        <div>
          <label for="id">user id</label>
          <input name="id" id="id" value="id" />
        </div>
        <div>
          <label for="result">result</label>
          <input name="result" id="result" value="result" />
        </div>
        <div>
          <button>Send my greetings</button>
        </div>
    </form>
      
</body>
</html>