.wrapper-head {
  text-align: center;
}

.header-logo {
  display: inline-block;
}

.header-name {
  display: inline-block;
}

.header-split {
  display: inline-block;
  border-left: 2px solid grey;
  margin-left: 20px;
  margin-right: 20px;
}

.mail-body {
  width: 30%;
  margin: auto;
  padding: 10px;
}
